SECRET=MIICXAIBAAKBgQC33yn4FlUjh+ehFkuWBSRA6WiNVfGRSsPGTOweo9RdI5tsWKDI9UwM6Hmfto0do6doKVrmu59bWgcNhoMtom7AcBk/dCmXSmjOGApp0//YDWHtNIycK0QZOU3eQqyNOjFJfgEo95cUyIS/1n2xgLTq2ZVvfkTi+kewZEPcEHZurwIDAQABAoGADHq4/n2FicPPlL9Oof/3VfCBiBYtLw9D+lF+NRYpc6jXA6OARiNf5gBhQNXC/h/9XLRx1vck+a5CjEh03sQHgCqCygY4CG3FUSrrC6ezcSVSgJaMwD6I70Ac5JsWno92wBdFT5L+jP7vXkRhq2C3C7QWuMnb9ASkzfx3m4PacwECQQDvrxmYg5HWN803pFcu9qXe9J5LdzL3d3+lyE4qu0HexCAFtQmY4c0DRlhpSD0e2zPyX2f8zdYd2PGlwgrFezYDAkEAxGNw2bA6h6jG2T/waicTSdfJyQGuidUD4CzjbsdM2UdupgeVru5f243CYFID5lC2QyhlZnyylQSxx2TPtmEK5QJAIWXYvzO2Io9r/RDdRSIBQuv7ErDtXSY9lzAuFC47o3rYq3Lqf28XThmDQEhcm+wXdPJuXv+fklEkeuBq99GPWQJBAJ9Pu8AcAZ8C/yxFfhXe1PrWHk79GkWdk6NLRsQa0PCBzfTJuldJ8GD+wmu4nIk9eF1Ka9eT2JqiUEVcNlPQrTECQFbefAG2gwEBgNllJ1nDYrxrESCyWZfI07DDPKhEX9KHlUBZsm486oZsZNo+4mJzGb5it5t5vTWuf0fZoHTNMF8=
MONGODB_URL="mongodb://localhost:27017/financialControl"